
$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$defaultTextColor: #333333;
$whiteColor: #ffffff;
$darkBrownColor: #4A1F07;
$lightBrownColor: #8E6954;
$redColor: #E44242;
$darkYellowColor: #B78131;

$typographyGreen: #009020;
$typographyGrey: #777777;